<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Vue 3 List Filtering/Sorting</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js" defer></script>
  <style type="text/css">
    body,
    input,
    button {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16pt;
    }

    div {
      padding: 0.3rem;
    }
  </style>
</head>

<body>
  <div id="app">
    <h3>All to-do's</h3>
    <ul v-if="showTodos">
      <li v-for="todo in todos">
        {{todo.name}}</li>
    </ul>

    <h3>Done to-do's</h3>
    <ul v-if="showTodos">
      <li v-for="todo in doneTodos">
        {{todo.name}}</li>
    </ul>

    <h3>All invoices</h3>
    <div>
      <button @click="toggleSortOrder">
        Toggle Sort Order
      </button>
      <div>
        <input type="checkbox" id="paid-invoices"
          v-model="onlyPaid">
        <label for="paid-invoices">Only paid
          invoices</label>
      </div>
    </div>
    <ul>
      <li v-for="invoice in sortedInvoices">
        {{invoice.id}}, {{invoice.item}} for
        {{invoice.price}}$
      </li>
    </ul>
  </div>
</body>

</html>